.n{padding:20px 0;

color: #4D4B4C ;
}
.nav-link{
	color: #4D4B4C  !important;
	font-family: bold;
	font-size: 20px;
}
.navbarNav{color: pink;}
.he{
	background-image: url(../img/img3.png);
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	

}
#search :hover{
	background-color: grey !important;
	color: pink !important;
}
#linkm{
	text-decoration: underline;
}

.sec1{
	background-color: white;
}

.pic{
	margin-left: 30px;
	background-color: #F5DCE5;
} #b{
	
}
.nav-item :hover{
	
	background-color: pink;

}
.nav-link:hover{
	color: #494848 !important;
	
	
	
}
.row1{background-color:#494848;
color: pink; }
.main{color:#494848;}
 .main1{
	background-color:pink;
	font-family: arial;

}

.about{margin-top: 20px;}
.useful{
	background-color:#494848;
	color: pink;
}
.foot{
	background-color: #5B5A5A;
	color: pink;
}
.hh{
	color: grey;
}
.footer{
	background-color: black;
	color: pink;
}
.row .col-4 a{
	color: pink;
}
.btn{
	color: #494848;
	background-color: pink;
}
.typesk a{
	margin-top: 30px;
	
	text-align: center;
	margin-left: 25px;
	color: pink;

}
.typesk {
	margin-top: 10px;
	padding: 20px;
	text-align: center;
	background-color:#494848;
	color: pink;

}
.pr{
	margin-top: 90px;

}

.flip-box {
  background-color: transparent;
  
  
  perspective: 1000px;
  margin-bottom: 20px;
}

.flip-box-inner {
  position: relative;
  width: 200px;
  height:200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-bottom: 20px;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}

.flip-box-front {
 
  color: black;
}

.flip-box-back {
  background-color: grey;
  color: white;
  transform: rotateY(180deg);
}

.con{
	color: #494848;
}
.zoom {
  padding: 50px;
  
  transition: transform .2s; /* Animation */
  
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.BAG{
	
	background-color: pink;

	font-family: bold;
	font-size: 20px;
	margin-left: 40px;
	margin-top: 20px;
text-decoration: underline;
animation-name: example; 
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {background-color: #AE7294;}
  to {background-color: #DED9DB ;}
}
#addtobag{
	text-decoration: underline;
	margin-left: 100px;
}
#addtobag :hover{
	background-color: #DED9DB!important;
	color: white !important;
}
.choos{
	color: #494848;;
}
